<a href="javascript:void(0);" class="dropdown-item notify-item active">
  <!-- <div class="notify-icon bg-success"> -->
  <div class="notify-icon">
    <!-- <i class="mdi mdi-cart-outline"></i> -->
  </div>
  <p class="notify-details">
    <b>Your order is placed</b
    ><small class="text-muted"
      >Dummy text of the printing and typesetting industry. ajdjkd jdafhdf
      ahsfhdc uaahuhad iaushduiaud ashiusah</small
    >
  </p>
</a>
