<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container">
        <header>
            <div class="compass-icon">
                <img src="/icon/user.png" alt="svg" style="margin: -16px;">
            </div>
        </header>
        <div class="weather-title">
            <h4 class="font-18 m-b-5 text-center">Welcome Back !</h4>
            <p class="text-muted text-center" style="color: #707070;">Sign in to continue to Road Ferry.</p>
        </div>
        <div class="loginform">
            <form action="/" method="post">
                <label for="">Name</label>
                <input type="text" name="name" placeholder="Enter Your Name" required />
                <label for="">Phone Number</label>
                <input type="phone" name="phone" placeholder="Enter Your Phone Number" maxlength="10" required />
                <div class="box" style="text-align: -webkit-center;">
                    <div class="btn">
                        <button class="button login" type="submit">Genrate OTP</button>
                    </div>
                </div>

        </div>
        <!-- <div class="col-sm-6">
                <div class="form-group m-t-10 mb-0 row"  style="margin-top: 28px;">
                    <a href="/forget-password" class="text-muted">Forgot
                        your password?</a>
                </div> -->

        </form>
    </div>
    </div>
</body>

</html>