<% include ../Partials/HeaderRoot %>

<div id="preloader">
  <div id="status"><div class="spinner"></div></div>
</div>

<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center">
        <a href="#" class="logo logo-admin"
          ><img src="/assets/images/mylogo.png" height="130" alt="logo"
        /></a>
      </h3>
    
      <div class="p-3">
        <h4 class="font-18 m-b-5 text-center">Welcome Back !</h4>
        <p class="text-muted text-center">Sign in to continue to Road Ferry.</p>
     
        <% include ../Partials/errorMessages %>
        <form class="form-horizontal m-t-30" action="/register" method="post">
          <div class="form-group">
            <label for="">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              placeholder="Enter Your name"
              required
            />
          </div>

          <div class="form-group">
            <label for="">Phone Number</label>
            <input
              type="text"
              class="form-control"
              name="phone_number"
              id="phone_number"
              placeholder="Enter Phone Number"
              required
            />
          </div>
          <div>
            <button
            type="button"
            class="btn btn-group btn-danger waves-effect"
            id="codeButton"
          >
            Send Verification
          </button>
        </div>
          <div id="recaptcha-container"></div>
          <div class="form-group verification_input_div">
            </div>
         <div class="form-group row">
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="hidden"
                    id="codeHidden"
                    name="userUid" 
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <button
                class="btn btn-primary w-md waves-effect waves-light"
                type="submit"
              >
              Register
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<% include ../Partials/FooterRoot %>
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  var config = {
  apiKey: "AIzaSyALoyUbKfKhksdyblkTeucUUr6o-yhKbMA",
  authDomain: "logistics-ondemand-app.firebaseapp.com",
  databaseURL: "https://logistics-ondemand-app.firebaseio.com",
  projectId: "logistics-ondemand-app",
  storageBucket: "logistics-ondemand-app.appspot.com",
  messagingSenderId: "335686843365",
  appId: "335686843365:web:d4bb2a7c82af72fcdf8d0c",
  measurementId: "G-7WPCXTQJ8N"
  };
firebase.initializeApp(config);
window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
var myResult;
$(document).ready(function() {
  $("#codeButton").click(function () {
    const phoneNumberString = "+91"+ $("#phone_number").val();
    firebase.auth().signInWithPhoneNumber(phoneNumberString, window.recaptchaVerifier)
    .then( confirmationResult => {
      console.log(confirmationResult,"result1");
      window.confirmationResult = confirmationResult;
      myResult = confirmationResult;
      var html =
        `  <div class="form-group verification_msg">
            <label for="code">Enter Verification code</label>
              <input
                class="form-control"
                type="text"
                id="code"
                name="code"
                placeholder="Enter your Verification Code"
              
              />
          </div>
          <div>
          <button
          type="button"
          class="btn btn-group btn-danger waves-effect verify_number"
          id="verifyButton"
        >
          Verify Transporter
        </button>
      </div>`;
      $(".verification_input_div").append(html);
    })
    .catch(function (error) {
      console.error("SMS not sent", error);
   });
  });
});
$(document).on("click", ".verify_number", function () {
  const code = $("#code").val();
    myResult.confirm(code).then((result) => {
    console.log(result,'data');
    user_uid = result.user.uid;
    console.log(user_uid,"UserData");
    $("#codeHidden").val(user_uid);
    alert("Number Verified");
    var html = `<div class="alert alert-success alert-dismissible fade show" role="alert">
      <p>Phone number verified</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>`;
   $(".verification_msg").append(html);
  }).catch((error) => {
    var html = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p>Phone number not verified</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>`;
    $(".verification_msg").append(html);
    console.error("Verification not completed", error);
    });
});



</script>

