<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <form action="/otp" method="post">
        <div class="d-flex justify-content-center align-items-center container">
            <header>
                <div class="otppng">
                    <img src="/icon/sms.png" alt="svg" style="margin: -10px; height: 50px; width: 50px;">
                </div>
            </header>
            <div class="card py-5 px-3">
                <h3 class="m-0">Mobile Phone verification</h3>
                <span class="mobile-text">Enter the code we just send on your
                    Mobile Number</span>
                <input name="name" type="text" class="text-danger" value=<%=name %> >
                <input name="phone_number" type="text" class="text-danger" readonly value=<%=phone_number %> >
                <!-- <input name="name" type="hidden" class="text-danger"  >
                <input name="phone" type="text" class="text-danger"  > -->

                <input style="margin-top: 2px;" name="code" type="number" minlength="6" maxlength="6"
                    placeholder="Enter OTP" required="required" />
                <div class="box" style="text-align: -webkit-center;">
                    <button type="submit" class="button confirm">confirm</button>
                </div>
                <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span>
                    <span class="font-weight-bold text-danger cursor"><a href="#">Resend</a></span>
                </div>
            </div>
        </div>
    </form>
</body>

</html>