<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transporter payment</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
  <div class="container" style="padding-top: 34px; padding-left: 0px;">
    <div class="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12" style="display: flex; justify-content: space-around;">

            <div class="col-6">


              <div class="card m-b-20">
                <div class="card-body" style="height: 530px;">
                  <h4 class="mt-0 header-title" style="padding-top: 15px; padding-bottom: 25px;">Profile</h4>


                  <form class="form-horizontal" method="post" action="/updatetransporter">

                    
                    <div class="form-group row">
                      <label for="adminFirstName" class="col-sm-4 col-form-label">Name</label>
                      <div class="col-sm-8">
                        <input class="form-control" type="text" id="adminFirstName" name="firstname"
                          placeholder="Enter Your Name" value=<%=name %>  />
                      </div>
                    </div>
                   
                    <div class="form-group row">
                      <label for="transporterPhoneNumber" class="col-sm-4 col-form-label">Phone Number</label>
                      <div class="col-sm-8">
                        <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                          <span class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"><span
                              class="input-group-text">+91</span></span>
                          <input class="form-control" type="text" id="transporterPhoneNumber" name="phone_number"
                            placeholder="Enter Your Phone Number" maxlength="10" value=<%=phone_number %>  />
                     
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="Email" class="col-sm-4 col-form-label">Email</label>
                      <div class="col-sm-8">
                        <input class="form-control" type="email" id="email" name="email"
                          placeholder="Enter Your Email" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="transporterGstNumber" class="col-sm-4 col-form-label">GST Number</label>
                      <div class="col-sm-8">
                        <input class="form-control" type="text" id="transporterGstNumber" name="gstNo"
                          placeholder="Enter Your GST Number" />
                      </div>
                    </div>
                </div>
                <div class="form-group">
                <button class="btn btn-group btn-primary waves-effect" type="submit">
                  Update Transporter
                </button>
                </div>
                <!-- <button type="button" class="btn btn-primary" onclick="location.href='/update-profile'">

                </button> -->


              </div>
            </div>
            <!-- <div class="clo-6"> -->

              <!-- <div class="form-group row">
                <div class="col-sm-12">
                  <div class="padding">
                    <div class="row">
                      <div class="container-fluid d-flex justify-content-start">
                        <div class="col-sm-12 col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <div class="row">
                                <div class="col-md-12"> <span>CREDIT/DEBIT CARD PAYMENT</span> </div>

                                <div class="col-md-12 text-right" style="margin-top: -5px;">
                                  <img src="icon/r.png">
                                  <img src="https://img.icons8.com/color/36/000000/visa.png">
                                  <img src="https://img.icons8.com/color/36/000000/mastercard.png">
                                  <img src="https://img.icons8.com/color/36/000000/amex.png">
                                </div>
                              </div>
                            </div>
                            <div class="card-body" style="height: auto">
                              <div class="form-group"> <label for="cc-number" class="control-label">CARD
                                  NUMBER</label>
                                <input id="cc-number" type="tel" class="input-lg form-control cc-number"
                                  autocomplete="cc-number" placeholder="•••• •••• •••• ••••" maxlength="12"
                                  minlength="12" required>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group"> <label for="cc-exp" class="control-label">CARD
                                      EXPIRY</label>
                                    <input id="cc-exp" type="tel" class="input-lg form-control cc-exp"
                                      autocomplete="cc-exp" placeholder="MM / YY" minlength="5" maxlength="5"
                                      required />
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group"> <label for="cc-cvc" class="control-label">CARD
                                      CVC</label>
                                    <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc"
                                      autocomplete="off" placeholder="•••" maxlength="3" minlength="3" required>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group"> <label for="numeric" class="control-label">CARD HOLDER
                                  NAME</label>
                                <input type="text" class="input-lg form-control" required="required">
                              </div>
                              <div class="form-group">

                                <button class="btn btn-group btn-primary waves-effect" type="submit">
                                  MAKE PAYMENT
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            <!-- </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>